.detail-page .go-back,
.about-page .go-home{
    margin: 4vh auto 5vh 4vh;
}

.detail-page .detail-content,
.about-page .about-content {
    margin: 2vh;
    color: var(--text-dark-green);
}

/* Tablet and Desktop*/
@media (min-width: 600px) {
    .detail-page .main-content {
        max-width: 600px;
        margin: 2vh auto;
    }
    
}

