.search-bar {
    margin-bottom: 2vh;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-bar input {
    padding: 4px;
    border-radius: 15px;
    background: white;
    margin-right: 7px;
}

.search-bar .search-link {
    text-decoration: none;
    color: white;
    
}


