@import url("./reset.css");
@import url("./header.css");
@import url("./card.css");

body {
    background-color:  #ACC0A0;
}

.link {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: flex-end;

}

