.home-page {
    height: 100%;
}

.home-page .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-info {
    color: var(--text-green);
    margin: 25vh 3vh;
    text-align: center;
}


